.app-wrapper {
  width: 1250px;
  display: grid;
  margin: 0 auto;

  grid-template-areas:
  "header header header"
  "n profile content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}


